.search{
    margin: auto;
    width: 60%;
    color:#ffffff;
    margin-top: 0.5em;
    text-align: center;
    --ion-text-color: #ffffff;
    --input-text-color: #ffffff;
}

.container{
    border: 5px solid rgb(0, 0, 0);
    border-image-slice: 1;
    border-radius: 5%;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    margin: auto;
    width: 90%;
}

.refresh-button{
    background-color: transparent;
    position: absolute;
    right: 1.5em;
    top: 1.1em;
}

ion-content{
    --ion-background-color:#161616;
    --ion-text-color: #ffffff;
}

ion-item{
    --border-color: rgb(255, 255, 255);
}

ion-list{
    border: 5px solid rgb(0, 0, 0);
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #0c0a7c, #1fa813);
    margin: auto;
    width: 90%;
    padding: 5px;
}