<body>
<ion-content>
<ion-infinite-scroll>
  
<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search film" name="film" [(ngModel)]="filmName">
  </form>
  <button (click)="saveData()" class="fav-button"><ion-icon size="large" name="star-outline"></ion-icon></button>
</div>

<div *ngIf="filmData">
  <img src={{filmData.Poster}}>
  <ion-list class = "container">
    <ion-item>
      <ion-icon name="pricetag-outline"></ion-icon>
      <p>&nbsp;&nbsp;</p>
      <ion-label class="ion-text-wrap">Tittle: {{filmData.Title}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="person-outline"></ion-icon>
      <p>&nbsp;&nbsp;</p>
      <ion-label class="ion-text-wrap">Directed by: {{filmData.Director}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="book-outline"></ion-icon>
      <p>&nbsp;&nbsp;</p>
      <ion-label class="ion-text-wrap">Genre: {{filmData.Genre}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="film-outline"></ion-icon>
      <p>&nbsp;&nbsp;</p>
      <ion-label class="ion-text-wrap">Rating: {{filmData.Rated}}</ion-label>
    </ion-item>
  </ion-list>
</div>

</ion-infinite-scroll>
</ion-content>
</body>

