<!-- 
<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input type="text" placeholder="Search film" name="film" [(ngModel)]="filmName">
  </form>
</div>

<div class="container" *ngIf="filmData">
  <img src={{filmData.Poster}}>
  <ion-list>
    <ion-item>
      <ion-label>{{filmData.Title}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{filmData.Actors}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{filmData.Awards}}</ion-label>
    </ion-item>
  </ion-list>
</div> -->
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
